<div class='container'>
  <footer class='footer'>
    <small>
      Copyright &copy; <a href='#'>RonCode</a>
      by <a href='#'>RonB</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>